{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row align-items-start">
            <div class="col-8">
                <h3>Contact Us:</h3>
                <br>
                <h4>
                    <div>Bhawna Patel</div>
                </h4>
                <h5>
                    <div>Ph. No: <u>7203829937</u></div>
                    <div>Email: <a href="mailto: isucceedcoachingclass2016@gmail.com" class="my_link" id="link1">isucceedcoachingclass2016@gmail.com</a></div>
                </h5>


                <script>
                    document.getElementById("link1").addEventListener("mouseover", mouseOver);
                    document.getElementById("link1").addEventListener("mouseout", mouseOut);

                    function mouseOver() {
                      document.getElementById("link1").style.color = "red";
                    }

                    function mouseOut() {
                      document.getElementById("link1").style.color = "blue";
                    }
                  </script>


            </div>
        <div class="col-4">
            <div>
                <figure>
                <a href="https://www.google.com/maps/search/?api=1&query=20.374212559550575, 72.92569019507927">
                    <img class="image" src="/static/maps.png">
                </a>
                <figcaption class="figure-caption text-end">Shiv Apartment, Morarji Circle</figcaption>
                </figure>
            </div>
        </div>
    </div>
{% endblock %}