{% extends "layout.html" %}

{% block title %}
    Admissions
{% endblock %}

{% block main %}
    <div class="container">
        <div>Welcome to our coaching class! We are excited to offer a wide range of academic and extracurricular programs designed to help students succeed in their studies and reach their full potential. Our experienced and dedicated instructors are committed to providing personalized support and guidance to help each student achieve their goals.</div>
        <br>
        <div>If you are interested in joining our coaching class, we welcome you to learn more about our programs and schedule a visit. Admissions for the upcoming academic year will open on 15-12-2022. We encourage you to apply early to secure your spot and ensure that you have plenty of time to prepare for the start of classes.</div>
        <br>
        <div>To apply, please fill out the online application form.</div>
        <br>
        <div>We look forward to supporting you on your academic journey!</div>
    </div>
{% endblock %}