{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row align-items-start">
            <div class="col-7">
                <div>Welcome to our Isucceed Coaching Class for Math and Science!</div>
                <br>
                <div>We are dedicated to helping students in classes 9 to 12 achieve their full potential in these subjects. Our experienced and knowledgeable instructors are here to provide personalized, one-on-one coaching to help you succeed in your studies.</div>
                <br>
                <div>Our coaching programs are designed to be flexible and tailored to the specific needs of each student. Whether you are struggling with a particular concept or looking to get ahead in your studies, we have a program that can meet your needs.</div>
                <br>
                <div>We are committed to helping you succeed and reach your academic goals. Please don't hesitate to contact us with any questions or to learn more about our programs. We look forward to working with you!</div>
            </div>
        <div class="col-5">
            <img src="/static/bhawna.jpg" alt="Bhawna Patel" class="image">
        </div>
    </div>
{% endblock %}