{% extends "layout.html" %}

{% block title %}
    Submitted
{% endblock %}


{% block main %}
    <h4>
        <div>Thank you for submitting your response!</div>
        <br>
        <div>We appreciate your interest and will be in touch with you shortly. In the meantime, please feel free to browse our website or follow us on social media to stay up-to-date on our latest news and updates.</div>
        <br>
        <div>If you have any further questions or concerns, please don't hesitate to contact us. We're here to help and are happy to assist in any way we can.</div>
        <br>
        <div>Thank you again for your submission. We look forward to speaking with you soon.</div>
    </h4>
    <div class="col-12 text-center">
        <a class="btn btn-primary" href="/" role="button">Home</a>
    </div>
{% endblock %}